.box {
    width: 300px;
    background-color: rgb(65, 139, 202);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

h2 {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 470;
    font-style: normal;
    margin-top: 9%;
    letter-spacing: 1px;
}

.box-heading {
    display: flex;
    flex-direction: row;
}

.wifi {
    width: 17%;
    padding-left: 10px;
    padding-right: 15px;
}

.box-item {
    width:80%;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 9%;
    margin-bottom: 14px;
}