.toolbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.searchbar-wrapper {
    position: relative;
    display: inline-block;
}

.searchbar {
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 22px;
    padding: 8px;
    width: 110px;
    height: 30px;
    margin-left: 26px;
    margin-top: 22px;
    padding-left: 55px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 470;
    font-style: normal;
    color: black;
    font-size: 20px;
}

::placeholder {
    color: black;
    opacity: 1;
}

.search-icon {
    position: absolute;
    left: 41px;
    top: 65%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    pointer-events: none;
}

.profile-circle {
    position: relative;
    right: 26px;
    border: 1px solid black;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-top: 22px;
}

.profile-icon {
    position: absolute;
    width: 30px;
    height:30px;
    padding-top: 7px;
    padding-left: 7px;
}

.add-button {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: 26px;
    right: 80px;
}